In [1]:
a=7+8*2-6+8/2
print(a)
b=(7+8)*2-(6+8)/2
print(b)

21.0
23.0

In [2]:
str1='learning python '+'is fun'
print(str1)

learning python is fun

In [3]:
str2='learning python '+\
    'is fun'
print(str2)

learning python is fun

In [4]:
question1='is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\n enter 1 for yes and 0 for no:'
print(question1)

is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 enter 1 for yes and 0 for no:

In [5]:
print('hello,world')
print('hello,',end='')
print('world')
s='hello,'+\
    'world'
print(s)

hello,world
hello,world
hello,world

In [6]:
8/3

2.6666666666666665

In [7]:
8//3

2

In [8]:
8**2

64

In [9]:
100**0.5

10.0

In [10]:
8%3

2

In [11]:
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [12]:
i=j=k=200
print(i,j,k)

200 200 200

In [13]:
a,b=100,200
print(a,b)

100 200

In [14]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [15]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [16]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [17]:
a=10
a+=2
print(a)

12

In [18]:
a*=5
print(a)

60

In [19]:
a//=3
print(a)

20

In [20]:
a%=6
print(a)

2

In [21]:
k=eval(input())

1

In [22]:
k

1

In [23]:
print(k)

1

In [24]:
s=eval(input('please enter an integer'))

please enter an integer1

In [25]:
s

1

In [26]:
s2=input('please enter a string')

please enter a string1

In [27]:
s2

'1'

In [28]:
print(s2)

1

In [29]:
str2=input('please enter a string:')

please enter a string:1

In [30]:
print(str2)

1

In [31]:
str2

'1'

In [32]:
str2=eval(input('please enter a string:'))
num=str2+100
print(num)

please enter a string:1
101

In [33]:
num1=eval(input('please enter number1:'))
num2=eval(input('please enter number2:'))
print(num1+num2)

please enter number1:1
please enter number2:1
2

In [36]:
num1,num2=eval(input('enter two numbers separated by comma:' ))
print(num1+num2)

enter two numbers separated by comma:1,2
3

In [38]:
num1,num2,num3=eval(input('enter three numbers separated by commas:'))
total=num1+num2+num3
average=total/3
print('total=%d,and average=%f'%(total,average))

enter three numbers separated by commas:1,1,1
total=3,and average=1.000000

In [39]:
print('total=%d,and average=%.2f'%(total,average))

total=3,and average=1.00

In [40]:
radius=eval(input('enter the radius'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('area=%0.2f'%(area))
print('perimeter=%.2f'%(perimeter))

enter the radius1
area=3.14
perimeter=6.28

In [42]:
import math

In [43]:
radius=eval(input('enter the radius'))
area=radius*radius*math.pi
perimeter=2*math.pi*radius
print('area=%.2f'%(area))

enter the radius1
area=3.14

In [ ]:
#this program display learning python now!,and python is fun.

In [44]:
''' this program display learning python now!,and python is fun.'''

' this program display learning python now!,and python is fun.'

In [46]:
#input 3 integers then calculate total and average
num1,num2,num3=eval(input('enter three numbers separated by commas:'))

#calculate total and average
total=num1+num2+num3
average=total/2

#display total and average
print('total=%d,and average=%.2f'%(total,average))

enter three numbers separated by commas:1,1,1
total=3,and average=1.50

In [47]:
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [48]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end=' ')
print(d,end='***')
print('over')

100 200
100 200***over

In [49]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('over')

100 200
100$and
200***over

In [ ]:
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

In [50]:
str1='hello,'
str2='python'
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

hello,python
300

In [51]:
str1='hello,'+\
    'python,let\'s learning'
str2=' python now'
str3=(str1+str2)
print(str3)

hello,python,let's learning python now

In [52]:
a=100
b=3
a//=b
print(a)

a=100
a%=b
print(a)

a=100
a/=b
print(a)

33
1
33.333333333333336

In [53]:
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [54]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [56]:
a=eval(input('enter an integer:'))
b=a+100
print(a,b)

str1=input('enter a string')
str2=str1+'i8'
print(str2)

enter an integer:1
1 101
enter a string1
1i8

In [57]:
str1='hello,'+\
'pythin,let\'s learning'
str2=' python now'
str3=str1+str2
print(str3)

hello,pythin,let's learning python now

In [58]:
#convert fahrenheit to ceisius
print('fahrenheit 212 is celsius degree')
print(5/9*212-32)

fahrenheit 212 is celsius degree
85.77777777777779

In [59]:
#change a and b
a=100
b=200
print(a,b)
 
c=a
a=b
b=c
print(a,b)

100 200
200 100

In [60]:
a=eval(input('enter an integer'))
b=a+100
print(a,b)

enter an integer1
1 101

In [62]:
a=eval(input('enter an integer'))
b=a+100
print(a,b)

enter an integer1
1 101

In [63]:
'''
display two massages
'''
a=100
b=200
print(a,b)

100 200

In [64]:
41/5

8.2

In [65]:
41//5

8

In [66]:
41%5

1

In [67]:
50%5

0

In [68]:
1%2

1

In [69]:
35%3

2

In [70]:
45+4*3-12

45

In [71]:
45+34%9*(21*3%2)

52

In [72]:
6**3-21

195

In [73]:
100*0.5*2-29

71.0

In [76]:
a=10
a=a+3
print(a)

13

In [79]:
a=10
a=a*3
print(a)

30

In [80]:
a=10
a=a/3
print(a)

3.3333333333333335

In [81]:
a=10
a=a//3
print(a)

3

In [82]:
a=10
a=a%3
print(a)

1

In [85]:
#output1
print(1,end='')
print(22,end='*****')
print(333)
print()

122*****333

In [86]:
#output2
print(1,end='$')
print(22,end='@@@@@')
print(333)
print('over')

1$22@@@@@333
over

In [2]:
a,b,c,d,e=eval(input())
sum1=a+b+c+d+e
average=sum1/5
print('Sum=',sum1)
print('Average=',average)

20,40,60,80,100
Sum= 300
Average= 60.0

In [14]:
x=eval(input('enter height:'))
y=eval(input('enter weight:'))
print('height=','%.2f'%(x))
print('weight=','%.2f'%(y))
print('perimeter=',(x+y)/2,)
print('area=','%.2f'%(x*y))

enter height:23.5
enter weight:19
height= 23.50
weight= 19.00
perimeter= 21.25
area= 446.50