In [1]:
print(12345)

In [2]:
print(123.456)

In [3]:
print('learning pythin now!')

In [4]:
print('pythin is fun ')
print ('let\'s go')

In [5]:
print('\\n is skip a line')

\n is skip a line

In [6]:
print('learning pythin now!\npythin is fun')

learning pythin now!
pythin is fun

In [7]:
print('|\thello,world|')

|	hello,world|

In [8]:
print('|hello, \tworld|')

|hello, 	world|

In [9]:
print('\nis skip a line ')

is skip a line

In [10]:
print('\'hello,everynoe\'')

'hello,everynoe'

In [11]:
print('radius=',12)

radius= 12

In [12]:
print('hello,')
print('world')

hello,
world

In [13]:
print('hello,',end='')
print('world')

hello,world

In [14]:
print("Hello, ", end="***")
print("world")

Hello, ***world

In [15]:
print("***Hello,world", end="***")
print("")
print('hello,python')
print('excellent')

***Hello,world***
hello,python
excellent

In [16]:
print(format(100,'8d'))

     100

In [17]:
print(format(100000,'3d'))

100000

In [18]:
print(format(100,'8x'))

      64

In [19]:
print(format(100,'8o'))

     144

In [20]:
print(format(100,'8b'))

 1100100

In [21]:
print(format(0.2389,'6.2%'))

23.89%

In [22]:
print(format(123.456,'8.2f'))

  123.46

In [23]:
print(format('python is fun','15s'))

python is fun

In [24]:
print(format('python is fun','>15s'))

  python is fun

In [25]:
print(format(12345,'10d'))

     12345

In [26]:
print(format(12345,'<10d'))

12345

In [27]:
print(format(12345,'^10d'))

  12345

In [28]:
print(12345,12,1234567)

12345 12 1234567

In [29]:
print(12,1234567,12345)

12 1234567 12345

In [30]:
print(1234567,12345,12)

1234567 12345 12

In [31]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))
print(format(12345,'10d'))
print(format(1234567,'10d'))
print(format(12345,'10d'))
print(format(12,'10d'))

     12345
        12
   1234567
        12
   1234567
     12345
   1234567
     12345
        12

In [32]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))
print(format(12,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(12345,'10d'))
print(format(1234567,'10d'),end='')
print(format(12345,'10d'),end='')
print(format(12,'10d'))

     12345        12   1234567
        12   1234567     12345
   1234567     12345        12

In [33]:
print('%10d'%(12345))

     12345

In [34]:
print('|%10d|'%(12345))

|     12345|

In [35]:
print('|%3d|'%(12345))

|12345|

In [36]:
print('|%-10d|'%(12345))

|12345     |

In [37]:
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|   12.35|
|12345.60|

In [38]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [39]:
print('|%30s|'%('learning python now'))
print('|%-30s|'%('learning python now'))
print('|%15s|'%('learning python now'))

|           learning python now|
|learning python now           |
|learning python now|

In [40]:
print('width=%2d,height=%2d,area=%3d'%(5,7,24))

width= 5,height= 7,area= 24

In [41]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,1234567,12345))
print('%10d%10d%10d'%(1234567,12345,12))

     12345        12   1234567
        12   1234567     12345
   1234567     12345        12

In [42]:
print('%d%%orange juice'%(100))

100%orange juice

In [43]:
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('{0:5d},{1:7d}'.format(123,12345))
print('x={0:5d},y={1:7d}'.format(123,12345))
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))
print('a={0:7.2f},b={1:9.2f}'.format(123.456,123.456))
print('{p:9s},{q:7s}'.format(p='kiwi',q='banana'))
print('{p:>9s},{q:>7s}'.format(p='kiwi',q='banana'))
print('{p:^9s},{q:^7s}'.format(p='kiwi',q='banana'))

123
123,12345
  123,  12345
x=  123,y=  12345
x=  123,y=  12345
a= 123.46,b=   123.46
kiwi     ,banana
     kiwi, banana
  kiwi   ,banana

In [44]:
print('{0}'.format(123))

123

In [45]:
print('{0},{1}'.format(123,123456))

123,123456

In [46]:
print('{0:5d},{1:7d}'.format(123,12345))

  123,  12345

In [47]:
print('x={0:5d},y={1:7d}'.format(123,12345))

x=  123,y=  12345

In [48]:
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

x=  123,y=  12345

In [49]:
print('a={0:7.2f},b={1:9.2f}'.format(123.456,123.456))

a= 123.46,b=   123.46

In [50]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12346))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12346|

In [51]:
print(format('department','12s'))
print(format('of','12s'))
print(format('computer','12s'))
print(format('science','12s'))
print()

department
of
computer
science

In [52]:
print(format('department','>12s'))
print(format('of','>12s'))
print(format('computer','>12s'))
print(format('science','>12s'))

  department
          of
    computer
     science

In [53]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [54]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [55]:
print('price:$%8.2f'%(356.0898977))
print('%10.2f %10.2f'%(123.456,345.789))
print('%-10.2f%5d'%(123.456,100))
print('radius=%d,area=%7.2f'%(5,5*5*3.14159))
print('raidus:{a:3d},area:{b:10.2f}'.format(a=5,b=5*5%3.14159))

price:$  356.09
    123.46     345.79
123.46      100
radius=5,area=  78.54
raidus:  5,area:      3.01

In [56]:
print('%2f degree celsius in fahreheit)\
    is %.2f'%(3.25,3.25*1.8+32))
print('%2f degree fahreheit in celsius)\
    is %.2f'%(94.5,(94.5-32)/1.8))

3.250000 degree celsius in fahreheit)    is 37.85
94.500000 degree fahreheit in celsius)    is 34.72

In [57]:
print('%-15s%-10s'%('month','amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

month          amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [58]:
print('|%10d%9d%9d|'%(12345,12,1234567))
print('raidus:{0:3d},area:{1:10.2f}'.format(5,5*3.14159))
print(format(123.456,'10.2f'))
print('%-15d%-10.2f'%(1,4300.2))
print('x={0:5d},y={1:7d}'.format(123,12345))

|     12345       12  1234567|
raidus:  5,area:     15.71
    123.46
1              4300.20
x=  123,y=  12345

In [59]:
print(format(123,'<10d'),end='')
print(format(45,'<10d'))
print(format(123456,'<10d'),end='')
print(format(78901,'<10d'))
print('{0:<10d} {1:<10d}'.format(123,45))
print('{0:<10d} {1:<10d}'.format(123456,78901))
print('%-10d%-10d'%(123,45))
print('%-10d%-10d'%(123456,78901))

123       45
123456    78901
123        45
123456     78901
123       45
123456    78901

In [60]:
print(format(123,'>10d'),end='')
print(format(45,'>10d'))
print(format(123456,'>10d'),end='')
print(format(78901,'>10d'))
print('{0:>10d} {1:>10d}'.format(123,45))
print('{0:>10d} {1:>10d}'.format(123456,78901))
print('%10d%10d'%(123,45))
print('%10d%10d'%(123456,78901))

       123        45
    123456     78901
       123         45
    123456      78901
       123        45
    123456     78901

In [61]:
print('member {0:7s},discount{1:3.2f}'.format('karen',0.35))
print('member {0:7s},discount{1:3.2f}'.format('sammy',0.4))
print('member {0:7s},discount{1:3.2f}'.format('jojo',0.42))

member karen  ,discount0.35
member sammy  ,discount0.40
member jojo   ,discount0.42

In [62]:
print('%20s%-20s'%('tall','short'))
print('%20s%-20s'%('strong','weak'))
print('%20s%-20s'%('thick','thin'))

                tallshort
              strongweak
               thickthin

In [63]:
print('%20s%-20s'%('apple\'s products:','iphone'))
print('%20s%-20s'%('','imac'))
print('%20s%-20s'%('','apple watch'))
print('%20s%-20s'%('','...'))

   apple's products:iphone
                    imac
                    apple watch
                    ...

In [64]:
print('%-15s%7s'%('city','celsius'))
print('%-15s%7.2f'%('taipei',33.2))
print('%-15s%7.2f'%('yilan',32.93))
print('%-15s%7.2f'%('miaoli',32.29))
print('%-15s%7.2f'%('taichung',32.48))
print('%-15s%7.2f'%('hualian',33.78))

city           celsius
taipei           33.20
yilan            32.93
miaoli           32.29
taichung         32.48
hualian          33.78

In [65]:
print('|%6d%6d%6d%6d|'%(22,44,66,88))
print('|%-6d%-6d%-6d%-6d|'%(33,55,77,99))
print('|%6d%6d%6d%6d|'%(222,444,669,888))
print('|%-6d%-6d%-6d%-6d|'%(333,555,777,999))

|    22    44    66    88|
|33    55    77    99    |
|   222   444   669   888|
|333   555   777   999   |

In [66]:
print('----------')
print('learning python now***')
print('python is fun$$$')
print('----------')

----------
learning python now***
python is fun$$$
----------

In [67]:
print('|%10d%9d%9d|'%(12345,12,1234567))

|     12345       12  1234567|

In [68]:
print('raidus:{a:3d},area:{b:10.2f}'.format(a=5,b=5*3.14159))

raidus:  5,area:     15.71

In [69]:
print(format(123.456,'10.2f'))

    123.46

In [70]:
print('%15d%10.2f'%(1,43400.2))

              1  43400.20

In [71]:
print('x={a:5d},y={b:7d}'.format(a=123,b=12345))

x=  123,y=  12345

In [72]:
print(format(123.456,'<10.2f'),end='')
print(format(45.678,'<10.2f'))
print(format(123456.79,'<10.2f'),end='')
print(format(78901.23,'<10.2f'))
print('{0:<10.2f} {1:<10.2f}'.format(123.456,45.678))
print('{0:<10.2f} {1:<10.2f}'.format(123456.79,78901.23))
print('%-10.2f%-10.2f'%(123.456,45.678))
print('%-10.2f%-10.2f'%(123456.79,78901.23))

123.46    45.68
123456.79 78901.23
123.46     45.68
123456.79  78901.23
123.46    45.68
123456.79 78901.23

In [73]:
print('|%3d|'%(12345))
print('|%5d|'%(12345))
print('|%8d|'%(12345))

|12345|
|12345|
|   12345|

In [74]:
print('|%f|'%(123.456))
print('|%5.2f|'%(123.456))
print('|%10.2f|'%(123.456))
print('|%.2f|'%(123.456))

|123.456000|
|123.46|
|    123.46|
|123.46|

In [75]:
print('|%10s|'%('apple'))

|     apple|

In [76]:
print('|%-8d|'%(12345))
print('|%-10.2f|'%(123.456))
print('|%-10s|'%('apple'))

|12345   |
|123.46    |
|apple     |